

#axit {
    background-image: url(../img/background_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 80px 0 96px;
}

#axit::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.55);  
 }

.axit__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.axit__wrap-left {
    max-width: 544px;
}
.axit__title {
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 42px;
}
.axit__title span {
    color: #EC7979;
    font-size: 60px;
}

.axit__text {
    font-size: 16px;
    line-height: 20px;
    font-family: 'Raleway';
    margin-bottom: 40px;
      
}

.axit__text span {
    color: rgba(255, 255, 255, 0.8);
    
}
.axit__descr {
    text-transform: uppercase;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    margin-bottom: 40px;
}
.axit__descr::after {
    content: "";
    display: block;
    width: 68px;
    height: 35px;
    border-bottom: 2px solid rgb(255, 255, 255);
    
}

.axit__btn{
    display: block;
    width: 135px;
    border: 1px solid #FFFFFF;
    padding: 10px 20px;
    border-radius: 60px;
    transition: 0.3s;
}
.axit__link {
    display: block;
    width: 100%;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    transition: 0.25s;
} 
.axit__btn:hover{
    background-color: rgb(223, 207, 207, 0.55);
    color: rgb(43, 10, 10);
    border: 1px solid rgb(65, 47, 47);
    cursor: pointer;
  }

/*.axit__wrap-right {

}*/
.axit__right {
    max-width: 370px;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form__content{
    padding: 20px 59px 60px;
    
}

.form__content-title {
    margin: 0 auto 50px;
    text-transform: capitalize;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    
}
.form__content-title span {
    color: #c50303;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
}

.form__item{
    margin-bottom: 20px;
    
}
.form__item:last-child{
    margin-bottom: 0;
}
.form__item label {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #646161;
    margin-bottom: 5px;
}

.form__item input {
    
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    background-color: transparent;
    
}


.btn {
    
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    background: #EC7979;
    border: none;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    
}
.btn:hover {
    cursor: pointer;
    background-color: rgb(229, 91, 91);
    font-size: 19px;
}


@media (max-width: 1000px) {
     .axit__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        
     }
     .axit__wrap-left{
        align-items: center;
      
     }
     .axit__descr {
        margin: 0 auto 50px;
        text-align: center;
     }

     .axit__title {
        text-align: center;
     }
     .axit__descr::after{
        margin: 0 auto;
     }
     .axit__text {
        margin-top: 10px;
        text-align: center;
     }
     .axit__btn {
        margin: 0 auto 50px;
     }
     .axit__wrap-right{
        font-size: 16px;
     }
     .axit__right {
        font-size: 1.1em;
     }
}
@media (max-width: 400px) {
    .form__content {
        padding: 20px 20px 40px;
    }
}



    