

#axit {
    background-image: url(../img/background_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 80px 0 96px;
}

#axit::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.55);  
 }

.axit__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.axit__wrap-left {
    width: 544px;
}
.axit__title {
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 42px;
}
.axit__title span {
    color: #EC7979;
    font-size: 60px;
}

.axit__text {
    font-size: 16px;
    line-height: 20px;
    width: 282px;
    font-family: 'Raleway';
      
}

.axit__text span {
    color: rgba(255, 255, 255, 0.8);
    
}
.axit__descr span{
    text-transform: uppercase;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
}
.axit__descr::after {
    width: 68px;
    height: 2px;
    content: '';
    display: block;
    background-color: #fff;
    margin: 42px 0;
}


.axit__link {
    margin-top: 42px;
    display: block;
    width: 135px;
    height: 42px;
    border: 1px solid #FFFFFF;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    border-radius: 60px;
           
  }
  
.axit__link:hover{
    background-color: rgb(223, 207, 207, 0.55);
    color: rgb(43, 10, 10);
    border: 1px solid rgb(65, 47, 47);
    cursor: pointer;
  }

.axit__wrap-right {
    width: 370px;
    background-color: rgba(255, 255, 255, 0.5);
    
    
}
.axit__right {
    overflow: hidden;
}

.form__content{
    padding: 20px 59px 115px;
    
}

.form__content-title {
    margin: 0 auto 50px;
    text-transform: capitalize;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    
}
.form__content-title span {
    color: #c50303;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
}

.form__item{
    margin-bottom: 20px;
    color: #818080;
}
.form__item:last-child{
    margin-bottom: 0;
}
.form__item input {
    
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    background-color: transparent;
    
}


.btn {
    display: block;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    background: #EC7979;
    border: none;
    color: #FFFFFF;
    
}
.btn:hover {
    cursor: pointer;
    background-color: rgb(229, 91, 91);
    font-size: 19px;
}


@media (max-width: 1261px) {
     .axit__wrap-right  {
        width: 35%;

    }
    .axit__wrap-left {
        width: 48%;
    }
}
    