
#contact {
    padding: 80px 0 96px;;
}
.contact__descr{
    color: #86878B;
    text-align: center;
    font-size: 14px;
    margin-bottom: 68px;
    font-family: 'Open Sans', sans-serif;
}


/*.contact__wrap {
    
}*/
.contact__wrap-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    
}
.contact__wrap-content-left {
    width: 40%;
    
}
.form__item {
    margin-bottom: 35px;
    color: #BDBDBD;
}
.form__item:last-child{
    margin-bottom: 0;
}
.name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
}

.contact__wrap-content-right{
    width: 40%;
}
.contact__wrap-content-right label{
    display: block;
    
}

.contact__wrap-content-right-message {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
}
#message {
    width: 100%;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    background-color: transparent;
}

.contact__btn {
    display: block;
    padding: 20px 20px;
    background-color: #EC7979;
    border: none;
    border-radius: 30px;
    color: #FFF;
    cursor: pointer;
    margin: 0 auto;

}

.contact__btn:hover {
    background-color: #ec5656;
    transform: scale(1.5, 1.5);
}

@media (max-width: 1120px) {
    .contact__descr {
        font-size: 16px;
    }
    .contact__wrap-content-right-message {
        font-size: 16px;
    }
    .form__item label {
        font-size: 16px;
    }
}

@media (max-width: 870px) {
    .contact__descr {
        font-size: 18px;
    }
    .contact__wrap-content {
        display: flex;
        flex-direction: column;
        align-items: center;
      
    }
    .contact__wrap-content-left {
        width: 90%;
        margin-bottom: 50px;
    }
    .contact__wrap-content-right {
        width: 90%;
        
    }
    .contact__btn {
        display: block;
        padding: 20px 20px;
        background-color: #EC7979;
        border: none;
        border-radius: 30px;
        color: #FFF;
        cursor: pointer;
        font-size: 19px;
}
}