

#footer {
    background-color: #000000;
    padding: 30px;
}

.footer_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}
.footer_nav a{
    margin: 0 20px 20px;
    
}
.wifi a{
    transform: rotate(45deg);
}
.footer_descr{
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer_descr p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    text-transform: capitalize;
   
}
@media (max-width:530px ) {
    .footer_nav {
        margin: 0 -15px;

    }
}
@media (max-width:500px ) {
    .footer_nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}