

#header {
    background-color: #000000;
    position: sticky;
    z-index: 4;
    top: 0;
    left: 0;
    padding: 22px 0;
}


.header__axit {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.header__axit-logo a{
    text-transform: uppercase;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    
}
.it {
    color: #EC7979;
    font-size: 30px;
}


.axit_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
  
}

.axit_nav-item {
    text-transform: capitalize;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600; 
    
}

.axit_nav a {
    width: 100%;
    color: rgb(255, 255, 255);  
    border-color: #fff;
    transition: 0.3s;
    font-size: 16px;
    position: relative;
}

.axit_nav-item:hover {
    box-shadow: 0 0 10px rgba(220, 190, 190, 0.5);
    transform: scale(1.5, 1.5); 
    transition: 0.3s;   
}



@media (max-width: 700px){
    .axit_nav-item {
        font-size: 18px;
    }
}
 
@media (max-width: 650px){
    #header {
        position: relative;
    }
    .header__axit{
        flex-direction: column;
        margin: 0 -15px;
    }
    .header__axit-logo{
        margin-bottom: 19px;

    }
    .axit_nav-item a{
        font-size: 1.1rem;
        width: 30%;
    }
    
}
@media (max-width: 560px) {
    
    #header {
        position: relative;
    }
    
    .header__axit{
        margin: 0 15px;
        flex-direction: row;
        justify-content: space-between;
        }
    .header__axit-logo {
        margin-bottom: 0;

    }
    .header__axit-logo a{
        
        font-size: 40px;
        
    }
    .header__axit-logo span{
    
        font-size: 40px;
        
    }
   
    .axit_nav{
        flex-direction: column;
        align-items: start;
        width: 50%;
        
    }
    .axit_nav-item{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        margin-bottom: 20px;
        
        
    }
    .axit_nav-item:last-child {
        margin-bottom: 0;
    }
    .axit_nav-item a{
        font-size: 22px;
    }

    .axit_nav a:hover {
        color: #EC7979;
    }

}
@media (max-width: 420px){
    .header__axit {
        
        display: flex;
        justify-content: center;

    }
    .header__axit-logo  {
        margin-right: 40px;
    }
    .axit_nav-item a{
        font-size: 25px;
    }
    
}
