

#header {
    background-color: #000000;
    position: sticky;
    z-index: 4;
    top: 0;
    left: 0;
    padding: 22px 0;
}

.header__axit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__axit-logo {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    
}

.axit__logo-span {
    color: #EC7979;
}


.axit_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -15px;
    transform: none;
    
}

.axit_nav-item {
    margin: 0 20px;
    text-transform: capitalize;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500; 
    padding: 5px 0;
}

.axit_nav a {
    color: rgb(255, 255, 255);  
    border-color: #fff;
}

.axit_nav-item:hover {
    border-bottom: 1px solid rgb(184, 129, 129);
    transform: translate(5px, 5px); 
   
}

    