

#header {
    background-color: #000000;
    padding: 10px 0;
    position: sticky;
    z-index: 5;
    top: 0;
    left: 0;
}

.axit {
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;

}

.axit_logo {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    padding: 20px;
    
}

.axit_logo span {
    color: #EC7979;
}

.axit_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -15px;

   
}
.axit_nav a {
    color: #fff;
    padding: 20px;
    margin: 0 15px;
    text-transform: capitalize;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    
  
}

.axit_nav_item:hover {
    border-bottom: 1px solid #fff;
    border-color: rgb(168, 112, 112);
    transform: translate(5px,5px);
    color: rgb(230, 205, 205);
    opacity: 0.85;
}

    