@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css);

#social {
    background-color: #F8EFEF;
    padding: 20px 0;
}
.social_media {
    display: flex;
    justify-content:space-between;
    margin: 0 -15px;
}
.social_descr {
    width: 365px;
    margin: 0 15px;
    
}
.social_descr_title{
    text-align: left;
    margin-bottom: 14px;
    
}
.social_descr_title h2 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}
.social_descr_text{
    color: #86878B;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.social_nav{
    width: 560px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
      
}
.social_nav a{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
   
}

.facebook, .twitter, .google, .pinterest, .instagram, .wifi, .messenger {
    font-size: 30px;
    cursor: pointer;
}
.facebook a, .twitter a, .google a, .pinterest a, .instagram a,  .wifi a, .messenger a{
    color: rgb(177, 175, 175);
    transition: 0.1s;
}
.wifi a{
    transform: rotate(45deg);
}
.facebook a:hover  {
    color: #3b5998;
    transform: scale(2, 2);
}
.twitter a:hover {
    color: #00acee;
    transform: scale(2, 2);
    
}
.google a:hover{
    color: blue;
    transform: scale(2, 2);
}
.pinterest a:hover {
    color: #e61919;
    transform: scale(2, 2);
}
.instagram a:hover {
    color: rgb(131, 58, 180);
    transform: scale(2, 2);
}

.messenger a:hover {
    color: rgb(0, 132, 255);
    transform: scale(2, 2);
}
.wifi a:hover {
    color: rgb(206, 166, 166);
    transform: scale(2, 2);
    transition: 0.2;
}  

@media (max-width: 1000px) {
    .social_media {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social_descr {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        
}
    .social_descr p {
        font-size: 1em;
    }
    .social_descr_text {
        text-align: center;
        
    }
    .facebook, .twitter, .google, .pinterest, .instagram, .wifi, .messenger{
        font-size: 35px;
    }
     
}
@media (max-width: 1000px) {
    .social_media {
        display: flex;
        
    }

    .social_nav{
        width: 100%;

    }
}
