
#soft {
    padding: 125px 0;
}
.tabs__wrap{
    margin: 0 -15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.tabs__btn {
    margin: 0 15px;
}
.tabs__btn-col {
    display: flex;
    flex-direction: column;
    align-items: center;
 
}


.tabs__button {
    margin-bottom: 20px;
    width: 85px;
    height: 85px;
    font-size: 15px;
    border: none;
    color: #fff;
    text-align: center;
    text-transform:capitalize;
    cursor: pointer;
    background-color: black;
    border-radius: 15px;
    text-transform: uppercase;
  
}
.tabs__button:first-child {
    background-color: #EC7979;
}
.tabs__button:last-child {
    margin-bottom: 0;
}
.tabs__button:first-child:hover, .tabs__button:last-child:hover{
    transform: rotate(45deg);
    transition: 0.2s;
}
.tabs__button:hover{
    transform: rotate(-45deg);
    transition: 0.2s;
}



.tabs__content {
    margin: 0 15px;
}
.tabs__content-item{
    display: flex;
    justify-content: space-between;
}
.tabs__content-item:not(:first-child){
    display: none;
}


.tabs__content-left {
    width: 572px;
    margin-right: 80px;
}
.soft__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 58px;
}
.soft__descr p, span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
.soft__descr p {
    margin-bottom: 20px;
}

.soft__btn {
    margin-top: 42px;
    display: block;
    width: 135px;
    height: 42px;
    background: #EC7979;
    border: 1px solid #FFFFFF;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    border-radius: 60px;
           
  }
  
.soft__btn:hover{
    background-color: rgba(167, 36, 36, 0.8);
    cursor: pointer;
    transform: scale(1.2, 1.2);
    transition: 0.2s;
  }


.tabs__content-right img {
    width: 320px;
    height: 253px;
}
.tabs__content-right img:hover {
    opacity: 0.3;
    transition: .3s;
}

@media (max-width: 1116px) {
    #soft {
        padding: 25px 0;
    }
    .tabs__wrap{
        margin: 0 -15px;
        display: flex;
        flex-direction: column;
    }    
    
    .tabs__btn-col {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center; 
        margin-bottom: 30px;
        margin-right: 25px;
    }
    .tabs__button:last-child {
        margin-bottom: 20px;
}
    .tabs__button {
        width: 120px;
        height: 75px;
        font-size: 20px;
        border: none;
        color: #fff;
        text-align: center;
        text-transform:capitalize;
        cursor: pointer;
        background-color: black;
        border-radius: 30px;
        text-transform: uppercase;
    
    }
    .tabs__content-item{
        display: flex;
        justify-content: center;
    }
    .tabs__content-left {
        width: 372px;
        margin-right: 80px;
    }
}